[user]
	email = 91832491+TheAimHero@users.noreply.github.com
	name = TheAimHero

[core]
  editor = nvim
  pager = less -FX

[init]
  defaultBranch = master

[diff]
  tool = git diff | \\nvim -R -c 'set ft=diff' -c 'set noma'

[merge]
	tool = nivm -c "DiffviewOpen"

[pager]
	show =  git diff | \\nvim -R -c 'set ft=diff' -c 'set noma'
  diff  = git diff | \\nvim -R -c 'set ft=diff' -c 'set noma'
  
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[commit] 
  verbose = true
