**/ranger/plugins/

Xmonad/.xmonad/xmonad-x86_64-linux 
Xmonad/.xmonad/build-x86_64-linux/

Lunarvim/**/lazy-lock.*
Lunarvim/**/.luarc.json

Neovim/**/lazy-lock.*
Neovim/**/.luarc.json
Neovim/**/spell/
Neovim/**/neorg/neorg_workspaces.lua
Neovim/**/plugins/local/
Neovim/**/usage_data.json
Neovim/**/rplugin/

Tmux/**/.tmux_local.conf
Zsh/**/zsh-local
